Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.git
.gitignore
.eslintrc.json
.vscode
*.md
coverage
.nyc_output
.cache
.parcel-cache
.DS_Store
*.log
dist
.vercel
.turbo
